NAME = "Test"
PORT = 3008
ENV = "development" # development, production, test
HTTPS_ENABLED = false

# Dev options
DEBUG = true
ENABLE_MEMORY_MONITORING = false
REQUEST_LOGGER_ENABLED = true

# CORS Configuration
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:8080,https://yourdomain.com"

#DB
DB_TYPE = "sqlite" # mysql, sqlite
# DATABASE_URL="mysql://appuser:12345@192.168.29.39:3306/test" # mysql
DATABASE_URL="file:./dev.db" #sqlite

# Token
algorithm = "aes-256-cbc"
accessTokenKey = ""
refressTokenKey = ""

# Mail
service = 'gmail'
host = 'smtp.gmail.com'
port = 465
secure = true
user = ''
pass = ''

# Upload Path
path = "./public"

#MQTT
MQTT_URL = "mqtt://broker.hivemq.com:1883"

#Socket Client
SOCKET_CLIENT_URL = "https://easychat.fly.dev"

#Language
default_language = "en"